<div class = "homeNav">
    <div class="navbar bg-neutral text-neutral-content">
        <a class="btn btn-ghost normal-case text-xl" class="<%= (page == "/") ? 'active' : '' %>" href="/">Lego Collections</a>
    </div>
    <div class="navbar bg-base-300">
        <a class="btn btn-ghost normal-case text-xl" class="<%= (page == "/about") ? 'active' : '' %>" href="/views/about">About</a>
    </div>
<li><a class="btn btn-ghost normal-case text-xl" class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
  </div>