<div class = "homeNav navbar bg-neutral text-neutral-content btn btn-ghost normal-case text-xl">
    <a class="<%= (page == "/") ? 'active' : '' %> " href="/">Lego Collections </a>
    <p> </p>
    <a class="<%= (page == "/about") ? 'active' : '' %>" href="/views/about">About</a>
    <p> </p>
    <a class= "<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a>
    <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
  </div>

