<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
  <div class = "homeNav">
    <div class="navbar bg-neutral text-neutral-content">
      <a class="btn btn-ghost normal-case text-xl" href = "/"><h3>Lego Collections</h3></a>
    </div>
    <div class="navbar bg-base-300">
        <a class="active" href="/about">About</a>
    </div>
    <details class="dropdown mb-32">
      <summary class="m-1 btn">open or close</summary>
      <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
        <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
        <li><a href="/lego/sets?theme=Technic">Technic</a></li>
        <li><a href="/lego/sets?theme=Basic Set">Basic Set</a></li>
      </ul>
    </details>
  </div>
  <div class="container mx-auto">
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <div>
            <p class="py-6">Error. Page not found...</p>
          </div>
        </div>
      </div>
  </div>
</body>

</html>