<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
  <div class="container mx-auto">
        <div class="hero-content flex-col lg:flex-row">
          <div>
            <h1 class="text-5xl font-bold">Box Office News!</h1>
            <a class="btn btn-primary" href = "/lego/sets">Get Started</a>
          </div>
        </div>
  </div>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="border-2"><img src = "https://m.media-amazon.com/images/M/MV5BZTNiNDA4NmMtNTExNi00YmViLWJkMDAtMDAxNmRjY2I2NDVjXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_.jpg" height = 500px width = 500px alt="Shoes" /></div>
      <div class="border-2"><p> Hello my names Will. A little bit about me<br>
                                I'm kinda emo so that's why my ebikes black<br>
                                and red but chill I'm one of the friendly emos<br>
                                so I don't intend steal your soul, mwahahhahaha!!<br>
                                I'm studying program right now and as far as it<br>
                                goes I am basically your typical otaku nerd. I 
                                love meeting new people because that means<br>
                                I get to make new friends especially at conventions.<br>
                                I also really like cats and dogs and love babysitting<br>
                                my sisters cat's, Ollie and Luna. Anywho, peaceout.</p></div>
    </div>
</body>

</html>