<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/'}) %>
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hello there</h1>
        <p class ="py-6">Welcome To the amazing world of lego!!!!!!!</p>
        <a class="btn btn-primary" href = "/lego/sets">Get Started</a>
      </div>
    </div>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://cdn.rebrickable.com/media/sets/0011-2.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Town Mini-Figures</h2>
          <p>Little mini lego figurines that<br>
             you can add to your collections of<br>
             lego city.</p>
          <div class="card-actions justify-end">
            <a class="btn btn-primary" href = "/lego/sets/0011-2">Check me out</a>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://cdn.rebrickable.com/media/sets/0011-3.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Castle 2 for 1 Bonus Offer</h2>
          <p>An old castle set that includes<br>
             additional lego figurines for the<br>
             same price as the set previously.
          </p>
          <div class="card-actions justify-end">
            <a class="btn btn-primary" href = "/lego/sets/0011-3">Check me out</a>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Gears</h2>
          <p>An old classic set released in<br>
             the early days of lego that teaches<br>
             kids all about gear mechanisms.</p>
          <div class="card-actions justify-end">
            <a class="btn btn-primary" href = "/lego/sets/001-1">Check me out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>